<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>167720711372-8uskp2eimu9q36t6p4j3dha5ei9hhoec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167720711372-8uskp2eimu9q36t6p4j3dha5ei9hhoec</string>
	<key>API_KEY</key>
	<string>AIzaSyDo4CvSjXxvmAx48WY2ZnWzEUQAHNOv6PA</string>
	<key>GCM_SENDER_ID</key>
	<string>167720711372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LisaJ.AC-iOS-Final</string>
	<key>PROJECT_ID</key>
	<string>ac-ios-final-2a1e4</string>
	<key>STORAGE_BUCKET</key>
	<string>ac-ios-final-2a1e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167720711372:ios:4cd2c4a80325dbdb</string>
	<key>DATABASE_URL</key>
	<string>https://ac-ios-final-2a1e4.firebaseio.com</string>
</dict>
</plist>